<h1>Keeper Profile Page</h1>

<%= current_user.first_name %>
<%= current_user.last_name %>
<%= current_user.email %>
<%= link_to "View Animals", animals_path %>
<%= link_to "Add Animals", new_animal_path %>
<%= link_to "Edit Account", edit_user_registration_path %>