<h1><%= current_user.email %></h1>

<p><%= current_user %></p>

<p><%= user_session %></p>


<%= button_to "Log Out", destroy_user_session_path, method: :delete %>

<%= link_to "Create an Account", new_user_registration_path %>

<%= link_to "Sign In", new_user_session_path %> 