
<h2>Name: </h2>
<%= animal.name %><br><%= animal.id %>
<h2>Species: </h2>
<%= animal.species %><br>
<h3>Bio:</h3><br>
<%= animal.bio %><br>
<h3>Toys in wishlist:</h3>
<%# render partial for toys %>
<%= animal.toy_ids %>