<% if current_user.keeper? %>
    <h2>Animals under your care:</h2>
    <% current_user.keeper_animals.each do |animal| %> 
        <%= render partial: 'animal', locals: {animal: animal} %><br>
        <%= link_to "More Info", animal_path(animal) %>
        <br><br>
    <% end %>
    <%= link_to "Add Animals", new_animal_path %>
<% end %>

<% if current_user.donor? && !current_user.donor_animals.empty? %>
    <h2>Animals you donated to:</h2>
    <% current_user.donor_animals.each do |animal| %> 
        <%= render partial: 'animal', locals: {animal: animal} %><br>
        <%= link_to "More Info", animal_path(animal) %>
        <br><br>
    <% end %>
<% end %>

<%= link_to "Back to Account", user_path(current_user) %>

<%# add admin index also %>
<%# refactor to partials %>
