<!DOCTYPE html>
<html>
  <head>
    <title>WildwishApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%# I hate the nav links in the header here. FIX! %>
    <header><%= link_to "Home", root_path %></header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <footer>
      <%= link_to "View Wishes", wishes_path %>
    <% if user_signed_in? %>
      <%= link_to "View Profile", user_path(current_user), :class => 'navbar-link' %> |
      <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
      <br>Logged in as <strong><%= current_user.email %></strong>.
    <% else %>
      <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
      <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
    <% end %>
    </footer>
  </body>
</html>
